[package]
name = "integration-tests"
version.workspace = true
authors.workspace = true
edition.workspace = true
rust-version.workspace = true
publish = false

license.workspace = true
repository.workspace = true
documentation.workspace = true
homepage.workspace = true
description = "Subxt integration tests that rely on the Substrate binary"

[features]
default = []

# Use a light client to provide the RPC methods in the tests.
light-client-rpc = ["subxt/light-client"]
# Use a reconnecting client to provide the RPC methods in the tests.
reconnecting-rpc = ["subxt-rpcs/reconnecting-rpc-client"]

# Use the chainhead backend by default in the tests.
chainhead-backend = []
# Use the legacy backend by default in the tests.
legacy-backend = []

[dev-dependencies]
assert_matches = { workspace = true }
codec = { package = "parity-scale-codec", workspace = true, features = ["derive", "bit-vec"] }
frame-decode = { workspace = true }
frame-metadata = { workspace = true }
futures = { workspace = true }
hex = { workspace = true }
regex = { workspace = true }
serde = { workspace = true }
scale-info = { workspace = true, features = ["bit-vec"] }
scale-value = { workspace = true }
sp-core = { workspace = true, features = ["std"] }
syn = { workspace = true }
subxt = { workspace = true, features = ["unstable-metadata", "native", "jsonrpsee", "reconnecting-rpc-client"] }
subxt-signer = { workspace = true, features = ["default", "subxt"] }
subxt-codegen = { workspace = true }
subxt-metadata = { workspace = true }
subxt-rpcs = { workspace = true }
test-runtime = { workspace = true }
tokio = { workspace = true }
tracing = { workspace = true }
tracing-subscriber = { workspace = true }
wat = { workspace = true }
substrate-runner = { workspace = true }
subxt-test-macro = { path = "subxt-test-macro" }

[build-dependencies]
cfg_aliases = "0.2.1"
