[package]
name = "subxt-metadata"
version = "0.24.0"
authors = ["Parity Technologies <admin@parity.io>"]
edition = "2021"
autotests = false

license = "Apache-2.0 OR GPL-3.0"
repository = "https://github.com/paritytech/subxt"
documentation = "https://docs.rs/subxt"
homepage = "https://www.parity.io/"
description = "Command line utilities for checking metadata compatibility between nodes."

[dependencies]
codec = { package = "parity-scale-codec", version = "3.0.0", default-features = false, features = [
    "derive",
    "full",
] }
frame-metadata = { version = "15.0.0", git = "https://github.com/paritytech/frame-metadata/" }
sp-core = { package = "sp-core", git = "https://github.com/paritytech/substrate" }
scale-info = { version = "2.0.0", features = ["bit-vec"] }


[dev-dependencies]
bitvec = { version = "1.0.0", default-features = false, features = ["alloc"] }
criterion = "0.4"

[lib]
# Without this, libtest cli opts interfere with criteron benches:
bench = false

[[bench]]
name = "bench"
harness = false
