[workspace]
members = [".", "client", "proc-macro"]

[package]
name = "substrate-subxt"
version = "0.15.0"
authors = ["Parity Technologies <admin@parity.io>"]
edition = "2018"

license = "GPL-3.0"
readme = "README.md"
repository = "https://github.com/paritytech/substrate-subxt"
documentation = "https://docs.rs/substrate-subxt"
homepage = "https://www.parity.io/"
description = "Submit extrinsics (transactions) to a substrate node via RPC"
keywords = ["parity", "substrate", "blockchain"]
include = ["Cargo.toml", "src/**/*.rs", "README.md", "LICENSE"]

[features]
default = ["tokio1"]
client = ["substrate-subxt-client"]
# jsonrpsee can be configured to use tokio02 or tokio1.
tokio02 = ["jsonrpsee-http-client/tokio02", "jsonrpsee-ws-client/tokio02"]
tokio1 = ["jsonrpsee-http-client/tokio1", "jsonrpsee-ws-client/tokio1"]

[dependencies]
async-trait = "0.1.49"
codec = { package = "parity-scale-codec", version = "2.1", default-features = false, features = ["derive", "full"] }
dyn-clone = "1.0.4"
futures = "0.3.13"
hex = "0.4.3"
jsonrpsee-proc-macros = "0.3.0"
jsonrpsee-ws-client = { version = "0.3.0", default-features = false }
jsonrpsee-http-client = { version = "0.3.0", default-features = false }
jsonrpsee-types = "0.3.0"
log = "0.4.14"
num-traits = { version = "0.2.14", default-features = false }
serde = { version = "1.0.124", features = ["derive"] }
serde_json = "1.0.64"
thiserror = "1.0.24"
url = "2.2.1"

substrate-subxt-client = { version = "0.7.0", path = "client", optional = true }
substrate-subxt-proc-macro = { version = "0.15.0", path = "proc-macro" }

sp-application-crypto = { git = "https://github.com/darwinia-network/substrate.git", tag = "darwinia-v0.11.3" }
sp-core               = { git = "https://github.com/darwinia-network/substrate.git", tag = "darwinia-v0.11.3" }
sp-rpc                = { git = "https://github.com/darwinia-network/substrate.git", tag = "darwinia-v0.11.3" }
sp-runtime            = { git = "https://github.com/darwinia-network/substrate.git", tag = "darwinia-v0.11.3" }
sp-std                = { git = "https://github.com/darwinia-network/substrate.git", tag = "darwinia-v0.11.3" }
sp-version            = { git = "https://github.com/darwinia-network/substrate.git", tag = "darwinia-v0.11.3" }

frame-metadata = { git = "https://github.com/darwinia-network/substrate.git", tag = "darwinia-v0.11.3" }
frame-support  = { git = "https://github.com/darwinia-network/substrate.git", tag = "darwinia-v0.11.3" }
pallet-indices = { git = "https://github.com/darwinia-network/substrate.git", tag = "darwinia-v0.11.3" }
pallet-staking = { git = "https://github.com/darwinia-network/substrate.git", tag = "darwinia-v0.11.3" }


[dev-dependencies]
assert_matches = "1.5.0"
async-std = { version = "1.9.0", features = ["attributes", "tokio1"] }
env_logger = "0.8.3"
tempdir = "0.3.7"
wabt = "0.10.0"
which = "4.0.2"

sp-keyring      = { git = "https://github.com/darwinia-network/substrate.git", tag = "darwinia-v0.11.3" }
frame-system    = { git = "https://github.com/darwinia-network/substrate.git", tag = "darwinia-v0.11.3" }
pallet-balances = { git = "https://github.com/darwinia-network/substrate.git", tag = "darwinia-v0.11.3" }
