[package]
name = "substrate-subxt"
version = "0.4.0"
authors = ["Parity Technologies <admin@parity.io>"]
edition = "2018"

license = "GPL-3.0"
readme = "README.md"
description = "Submit extrinsics (transactions) to a substrate node via RPC"
keywords = ["parity", "substrate", "blockchain"]
include = ["Cargo.toml", "src/**/*.rs", "README.md", "LICENSE"]

[dependencies]
log = "0.4"
thiserror = "1.0"
futures = "0.3"
jsonrpsee = { git = "https://github.com/paritytech/jsonrpsee/", features = ["ws"] }
num-traits = { version = "0.2", default-features = false }
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
url = "1.7"
codec = { package = "parity-scale-codec", version = "1.1", default-features = false, features = ["derive", "full"] }

frame-support = { version = "2.0.0-alpha.3", package = "frame-support" }
sp-runtime = { version = "2.0.0-alpha.3", package = "sp-runtime" }
sp-version = { version = "2.0.0-alpha.3", package = "sp-version" }
pallet-indices = { version = "2.0.0-alpha.3", package = "pallet-indices" }
hex = "0.4.0"
sp-rpc = { version = "2.0.0-alpha.3", package = "sp-rpc" }
sp-core = { version = "2.0.0-alpha.3", package = "sp-core" }
sp-transaction-pool = { version = "2.0.0-alpha.3", package = "sp-transaction-pool" }

[dev-dependencies]
async-std = "1.2.0"
env_logger = "0.7"
wabt = "0.9"
frame-system = { version = "2.0.0-alpha.3", package = "frame-system" }
node-runtime = { git = "https://github.com/paritytech/substrate/", package = "node-runtime" }
pallet-balances = { version = "2.0.0-alpha.3", package = "pallet-balances" }
sp-keyring = { version = "2.0.0-alpha.3", package = "sp-keyring" }
