[package]
name = "test-runtime"
version = "0.27.1"
edition = "2021"
publish = false

[dependencies]
subxt = { path = "../../subxt" }
sp-runtime = "20.0.0"
codec = { package = "parity-scale-codec", version = "3.0.0", default-features = false, features = ["derive", "full", "bit-vec"] }

[build-dependencies]
subxt = { path = "../../subxt" }
tokio = { version = "1.26", features = ["macros", "rt-multi-thread"] }
which = "4.4.0"
jsonrpsee = { version = "0.16.0", features = ["async-client", "client-ws-transport"] }
subxt-metadata = { path = "../../metadata" }
heck = "0.4.1"
